
<!DOCTYPE html>
<html lang="en">
<head>
	<% include partial_head %>
</head>

<body>
	<% include partial_headermenu %>
	<!-- start: Header -->	
		<div class="container">
		<div class="row">

			<% include partial_mainmenu %>
			
			<!-- start: Content -->
			<div id="content" class="col-sm-11">

<!-- https://www.paypal.com  test:;  https://www.sandbox.paypal.com/cgi-bin/webscr-->
<!-- form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" -->
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="7Z48JWZ5B9PBJ">
<table>
<tr><td><input type="hidden" name="on0" value="Payment options">Payment options</td></tr><tr><td><select name="os0">
	<option value="Basic">Basic : $200.00 USD - monthly</option>
	<option value="Standard">Standard : $400.00 USD - monthly</option>
	<option value="Deluxe">Deluxe : $700.00 USD - monthly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>




			</div>
			<!-- end: Content -->
			
			<% include partial_widgetsarea %>

		<a id="widgets-area-button" class="hidden-sm hidden-xs open"><i class="fa fa-bars"></i></a>				
		</div><!--/row-->

		<% include partial_modal %>
		
	</div><!--/container-->

	<div class="clearfix"></div>
	<% include partial_footer %>
	<% include partial_postscripts %>
	
</body>
</html>