
<!DOCTYPE html>
<html lang="en">
<head>
	<% include partial_head %>
</head>

<body>
	<% include partial_headermenu %>
	<!-- start: Header -->	
		<div class="container">
		<div class="row">

			<% include partial_mainmenu %>
			
			<!-- start: Content -->
			<div id="content" class="col-sm-11">

			    <!-- Marketing messaging and featurettes
			    ================================================== -->
			    <!-- Wrap the rest of the page in another container to center all the content. -->

			    <div class="container marketing">

					<!-- Three columns of text below the carousel -->
					<div class="row">
						<div class="col-lg-4">
						<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
						<h2>Basic</h2>
<table class="table">
  <tr><td>Users</td><td>unlimited</td></tr>
  <tr><td>Reports</td><td>basic</td></tr>
  <tr><td>Employees</td><td>4</td></tr>
  <tr><td>Support</td><td>Basic</td></tr>
  <tr><td>Changes</td><td>$500</td></tr>
  <tr><td>Operator</td><td>Can assign</td></tr>
</table>						
						<!-- p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p -->
						</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
						<h2>Standard</h2>
<table class="table">
  <tr><td>Users</td><td>unlimited</td></tr>
  <tr><td>Reports</td><td>full</td></tr>
  <tr><td>Employees</td><td>15</td></tr>
  <tr><td>Support</td><td>Basic</td></tr>
  <tr><td>Changes</td><td>$250</td></tr>
  <tr><td>Operator</td><td>Can create</td></tr>
</table>						
						<!-- p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p -->
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
						<h2>Deluxe</h2>
<table class="table">
  <tr><td>Users</td><td>unlimited</td></tr>
  <tr><td>Reports</td><td>full</td></tr>
  <tr><td>Employees</td><td>40</td></tr>
  <tr><td>Support</td><td>Full</td></tr>
  <tr><td>Changes</td><td>$100</td></tr>
  <tr><td>Operator</td><td>Can create</td></tr>
</table>						
						<!-- p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p -->
						</div><!-- /.col-lg-4 -->
					</div><!-- /.row -->

				</div>

				<div style="width: 100%;text-align: center;">
					<!-- https://www.paypal.com  test:;  https://www.sandbox.paypal.com/cgi-bin/webscr-->
					<!-- form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" -->
					<!-- https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/ -->
					<!--
						http://taxigateway.com/billing/paypal/payment/page/accept
						http://taxigateway.com/billing/paypal/payment/page/cancel
					 -->
					<!-- form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="7Z48JWZ5B9PBJ">
						<table style="margin: 0 auto;">
						<tr><td><input type="hidden" name="on0" value="Payment options">Payment options</td></tr><tr><td><select name="os0">
						<option value="Basic">Basic : $200.00 USD - monthly</option>
						<option value="Standard">Standard : $400.00 USD - monthly</option>
						<option value="Deluxe">Deluxe : $700.00 USD - monthly</option>
						</select> </td></tr>
						</table>
						<input type="hidden" name="custom" value="xvxvxvxcvxvxvxvx">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="buisiness" value="kjartan@agamecompany.com">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form -->
<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="XQKASXQ5YL8B6">
<table>
<tr><td><input type="hidden" name="on0" value="Payment options">Payment options</td></tr><tr><td><select name="os0">
	<option value="Basic">Basic : $200.00 USD - monthly</option>
	<option value="Standard">Standard : $400.00 USD - monthly</option>
	<option value="Deluxe">Deluxe : $700.00 USD - monthly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
business

<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form> -->

				</div>

				<div class="row">
				    <div class="col-sm-12">
						<table id="payments" class="table table-striped"></table>

						<!-- A HREF="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=7L7GU3WBQ3L2U"><IMG SRC="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_SM.gif" BORDER="0"></A -->
						
					</div>
				</div>

			</div>
			<!-- end: Content -->
			
			<% include partial_widgetsarea %>

		<a id="widgets-area-button" class="hidden-sm hidden-xs open"><i class="fa fa-bars"></i></a>				
		</div><!--/row-->

		<% include partial_modal %>
		
	</div><!--/container-->

	<div class="clearfix"></div>
	<% include partial_footer %>
	<% include partial_postscripts %>

	<script>
		var url = getSystemDatabasePath() + "/_design/list/_view/payment?keys=[%22" + user.company_id + "%22]";
		var payment_header = "";
		payment_header = payment_header + "<th>Date</th>";
   		payment_header = payment_header + "<th>Amount</th>";
		$("#payments").append("<tr>"+payment_header+"</tr>");
		$.getJSON(url, function(result){
			for(var i in result.rows){
				var row = result.rows[i].value;
				var payment_row = "";
				payment_row = payment_row + "<td>" + row.payment_date + "</td>";
				payment_row = payment_row + "<td>" + row.mc_gross + "</td>";
				console.info(row.mc_gross1)
				$("#payments").append("<tr>"+payment_row+"</tr>");
			}
		});

	</script>
	
</body>
</html>