
<!DOCTYPE html>
<html lang="en">
<head>
	<% include partial_head %>
</head>

<body>
	<% include partial_headermenu %>
	<!-- start: Header -->	
		<div class="container">
		<div class="row">

			<% include partial_mainmenu %>
			
			<!-- start: Content -->
			<div id="content" class="col-sm-11">

			<%if (!user.role.config) {%><% include partial_noaccess %><% } else { %>

			<h1>Mobile preferences</h1>
			<p>The following information is required for your customers to find your mobile application on the mobile platforms</p>

<!-- installment plan -->
<form id="instalment" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display:none;">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AWXZ2CBDNNSNW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

			<div class="row">		
				<div class="col-lg-12">			
					<div class="box">
						<div class="box-header" data-original-title>
							<h2><i class="fa fa-info"></i><span class="break"></span>Preview app</h2>
							<div class="box-icon">
								<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="box-content">		

							To preview your app simple enter the email address bellow and we will send you an app that you can install on your android device.

							<form class="form-horizontal">
							  <div class="form-group">
							    <label for="app_name" class="col-sm-2 control-label">
							    	Preview Android app
							    </label>
							    <div class="col-sm-10">
							      <input type="email" class="form-control" id="app_preview_email" placeholder="Email address" value="">
							      <p class="help-block">The email address to send the mobile app</p>
							    </div>
							  </div>
							  <div class="form-group">
							    <div class="col-sm-offset-2 col-sm-10">
							      <button type="button" class="btn btn-success" onclick="testingMobileAppVersion()">Preview</button>
							    </div>
							  </div>
							</form>



						</div> <!-- /box content -->
					</div>
				</div><!--/col-->			



				<div class="col-lg-12">			
					<div class="box">
						<div class="box-header" data-original-title>
							<h2><i class="fa fa-info"></i><span class="break"></span>Deploy app</h2>
							<div class="box-icon">
								<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="box-content">		



							<form class="form-horizontal">
							  <div class="form-group">
							    <label for="app_name" class="col-sm-2 control-label"></label>
							    <div class="col-sm-10">
							      <div id="changed_compare_config"></div>
							      <p class="help-block">Changes state</p>
							    </div>
							  </div>
							  <div class="form-group">
							    <div class="col-sm-offset-2 col-sm-10">
							      <button type="button" class="btn btn-primary" id="btnSave" onclick="deployMobileAppVersion()">Deploy</button>
							    </div>
							  </div>
							</form>



						</div> <!-- /box content -->
					</div>
				</div><!--/col-->			





			</div><!--/row-->
			
			<% } %>

			</div>
			<!-- end: Content -->
			
			<% include partial_widgetsarea %>

		<a id="widgets-area-button" class="hidden-sm hidden-xs open"><i class="fa fa-bars"></i></a>				
		</div><!--/row-->

		<% include partial_modal %>
		
	</div><!--/container-->

	<div class="clearfix"></div>
	<% include partial_footer %>
	<% include partial_postscripts %>

	<script src="/js/gatewayapi.js"></script>

	<script>

		function deployMobileApp(data, alert_text, changed_state){
			getPOST("/api/client/mobile/version", data, function(res){
				if(res.error){
					handleError(res.error);
				}else{
					showAlert(alert_text);
					if(changed_state){
						$("#changed_compare_config").html(changed_state);
						checkMobileAppVersion();
					}
				}
			});
		}

		function deployMobileAppVersion(){
			deployMobileApp({"action": "deploy"}, "Successfully deployed", "Style or configuration has been applied");
		}

		function testingMobileAppVersion(){
			var app_preview_email = $("#app_preview_email").val();
			if(app_preview_email.length == 0){
				showAlert("Please provide an email address to send the preview to")
			}else{
				deployMobileApp({"action": "preview", "email": app_preview_email}, "Sending you a test version within the hour");
			}
		}

		function checkMobileAppVersion(){
			$("#changed_compare_config").html("Checking ..")
			$("#btnSave").attr("disable", "disable");
			window.gapi.getAppConfig(function(current){
				$("#changed_compare_config").html("Checking ...");
				current = current || {};
				getJSON("/api/client/mobile/config/edit", function(changed){
					if(current.changed != changed.config.changed){
						$("#changed_compare_config").html("Style and/or configuration changes detected. Would you like to deploy your new version?");
						$("#btnSave").removeAttr("disable");
					}else{
						$("#changed_compare_config").html("Style or configuration has not changed");
					}
					window.payment = gapi.getClientDoc().payment || {};
					if(!payment.instalment){ //nope, he should pay the instalment fee
						$("#instalment").show(); 
					}					
				});
			}, {"clear_cache": true});
		}

		$(function(){
			checkMobileAppVersion();
			$("#app_preview_email").val(user.email);
		});

	</script>
	
</body>
</html>