
<!DOCTYPE html>
<html lang="en">
<head>
	<% include partial_head %>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="/assets/js/leaflet-heat.js"></script>
	<style>
		#map { height: 700px; }
	</style>		
</head>

<body>
	<% include partial_headermenu %>
	<!-- start: Header -->	
		<div class="container">
		<div class="row">

			<% include partial_mainmenu %>
			
			<!-- start: Content -->
			<div id="content" class="col-sm-11">

			<%if (!user.role.report) {%><% include partial_noaccess %><% } else { %>
			<h2>Heat Map</h2>
			<div id="map"></div>

			<% } %>


			</div>
			<!-- end: Content -->
			
			<% include partial_widgetsarea %>

		<a id="widgets-area-button" class="hidden-sm hidden-xs open"><i class="fa fa-bars"></i></a>				
		</div><!--/row-->

		<% include partial_modal %>
		
	</div><!--/container-->

	<div class="clearfix"></div>
	<% include partial_footer %>
	<% include partial_postscripts %>
	
	<%if (user.role.report) { %>

	<!-- inline scripts related to this page -->

	<script src="/js/pouchdb-3.3.1.min.js"></script>
	<script src="/js/gatewayapi.js"></script>
	<script src="/js/gatewaytracker.js"></script>
	<script src="/js/mapgui.js"></script>
	<script src="http://leaflet.github.io/Leaflet.markercluster/example/realworld.10000.js"></script>
	
	<script>
        $(function () {
        	createMap('map', function(map){
				window.heatmap = L.heatLayer([]).addTo(map);
				gapi.getReport({}, function(report){
					window.heatmap.setLatLngs(report.location.pickup);
				});
        	});
        });


	</script>

	<% } %>


</body>
</html>