
<!DOCTYPE html>
<html lang="en">
<head>
	<% include partial_head %>
</head>

<body>
	<% include partial_headermenu %>
	<!-- start: Header -->	
		<div class="container">
		<div class="row">

			<% include partial_mainmenu %>
			
			<!-- start: Content -->
			<div id="content" class="col-sm-11">

			<%if (!user.role.config) {%><% include partial_noaccess %><% } else { %>

			<h1>Mobile preferences</h1>
			<p>The following information is required for your customers to find your mobile application on the mobile platforms</p>
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="app_name" class="col-sm-2 control-label">Name</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="app_name" placeholder="App name" value="">
			      <p class="help-block">This will be the application name shown in app store and play store</p>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="app_description" class="col-sm-2 control-label">Description</label>
			    <div class="col-sm-10">
			      <textarea class="form-control" id="app_description" placeholder="Description of your application"></textarea>
			      <p class="help-block">This will be the application description shown in app store and play store</p>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="app_keywords" class="col-sm-2 control-label">Keywords</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="app_keywords" placeholder="Taxi, Service" value="">
			      <p class="help-block">One or more search words used to find this application seperated by comma</p>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <div class="checkbox">
			        <label>
					  <input type="file" onchange="previewFile()"><br>
				 	  <img id="app_icon" src="/assets/img/noimage.gif" height="200" alt="Image preview...">			        
			          <p class="help-block">Application icon that will be used in app store and play store</p>
			        </label>
			      </div>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="button" class="btn btn-default" id="btnSave" onclick="saveMobilePreferences()">Save</button>
			    </div>
			  </div>
			</form>

			<!-- br>
			<%= JSON.stringify(user) %>
			-->
			<% } %>

			</div>
			<!-- end: Content -->
			
			<% include partial_widgetsarea %>

		<a id="widgets-area-button" class="hidden-sm hidden-xs open"><i class="fa fa-bars"></i></a>				
		</div><!--/row-->

		<% include partial_modal %>
		
	</div><!--/container-->

	<div class="clearfix"></div>
	<% include partial_footer %>
	<% include partial_postscripts %>

	<script src="/js/gatewayapi.js"></script>

	<script>
		function saveMobilePreferences(){
			var info = {};
			info["name"] = $("#app_name").val();
			info["description"] = $("#app_description").val();
			info["keywords"] = $("#app_keywords").val();
			info["icon"] = $("#app_icon").attr("src");
			$("#btnSave").html("Saving ...");
			window.gapi.setClientDoc(info, function(res){
				if(res.success){
					$("#btnSave").html("Save");
				}else{
					showAlert(res.error);
				}
			});
		}

		function previewFile() {
		  var preview = document.querySelector('img');
		  var file    = document.querySelector('input[type=file]').files[0];
		  var reader  = new FileReader();

		  reader.onloadend = function () {
		    preview.src = reader.result;
		  }

		  if (file) {
		    reader.readAsDataURL(file);
		  } else {
		    preview.src = "";
		  }
		}


		$(function(){
			window.gapi.getAppDetails(function(info){
				$("#app_name").val(info.name);
				$("#app_description").val(info.description);
				$("#app_keywords").val(info.keywords);
				if(info.icon){$("#app_icon").attr("src", info.icon);}
			});
		});


	</script>
	
</body>
</html>