	<footer>
		
		<div class="row">
			
			<div class="col-sm-5">
				&copy; 2015 Taxi Gateway 
			</div><!--/.col-->
			
			<div class="col-sm-7 text-right">
				Powered by: NodeJS and Open Standards
			</div><!--/.col-->	
			
		</div><!--/.row-->
		
	</footer>
