<ion-nav-back-button class="button-icon ion-arrow-left-c">
</ion-nav-back-button>
<ion-view view-title="{{lang.page.jobs.title}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-plus-circled" ng-click="askNewFeedbackState()"></button>
  </ion-nav-buttons>

  <ion-content ng-controller="JobsCtrl">
    <ion-refresher pulling-text="{{lang.page.jobs.lbl_releasetorefresh}}" on-refresh="doRefreshJobs()"></ion-refresher>
    <ion-list>
      <ion-item class="item item-icon-right" ng-repeat="job in jobs" ng-click="setSelectedJob(job)">
        <span class="item-note">
          {{job.state_str}}
        </span>        
        <h2>{{job.address_label}}</h2>
        <p>{{job.pickuptime_str}}</p>
      </ion-item>
    </ion-list> 
    <!--div class="list">
      <label class="item item-radio" ng-repeat="job in jobs" ng-click="setSelectedJob(job)">
        <input type="radio" name="group">
        <div class="item-content">
          <h2>{{job.pickuptime_str}}</h2>
          <p>{{job.state_str}}</p>
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div-->
    <div class="row responsive-sm">
      <div class="col">
        <center>{{lang.page.jobs.lbl_pulltorefresh}}</center>
      </div>
    </div>

  </ion-content>
</ion-view>
