<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{lang.page.revoke.title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRevoke()">{{lang.page.revoke.btn_close}}</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <label class="item">
        <p>
          {{lang.page.revoke.lbl_callstation}}
        </p>
      </label>

      <div class="list">
        <label class="item">
          <button class="button button-block button-balanced style_page_request_popup_btn_call" ng-click="callRequest()">{{lang.page.revoke.btn_call}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
