<ion-nav-back-button class="button-icon ion-arrow-left-c">
</ion-nav-back-button>
<ion-view view-title="{{lang.page.settings.title}}">
  <ion-content>

    <div class="list">
      <label class="item item-radio" ng-repeat="language in languages" ng-click="setLanguage(language.id)">
        <input type="radio" name="group" ng-checked="language.selected">
        <div class="item-content">
          <h2>{{language.title}}</h2>
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>    


    <button class="button button-block button-stable" ng-click="showDriverPage()">
      {{lang.page.settings.btn_driver}}
    </button>

    <!--ul class="list">
      <li class="item item-toggle" ng-repeat="service in services" ng-click="setRequestProperty(service)">
         {{service.title}}
         <label class="toggle toggle-calm">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

    </ul -->    
  </ion-content>
</ion-view>
