
/* battle actors */
.actor_snipertower .body:hover{
    background-color:rgba(50,50,50,0.2);
    border-radius: 100px;
    height:100px;
    width:100px;    
}
/*.actor_machinegun .body:hover{
    background-color:rgba(50,50,50,0.2);
    border-radius: 100px;
    height:100px;
    width:100px;    
}
*/
.actor_mortar .body:hover{
    background-color:rgba(50,50,50,0.2);
    border-radius: 100px;
    height:100px;
    width:100px;    
}
.actor_cannon .body:hover{
    background-color:rgba(50,50,50,0.2);
    border-radius: 100px;
    height:100px;
    width:100px;    
}
.actor_flamethrower .body:hover{
    background-color:rgba(50,50,50,0.2);
    border-radius: 100px;
    height:100px;
    width:100px;    
}
.actor_boomcannon .body:hover{
    background-color:rgba(50,50,50,0.2);
    border-radius: 100px;
    height:100px;
    width:100px;    
}
.actor_rocketlauncher .body:hover{
    background-color:rgba(50,50,50,0.2);
    border-radius: 100px;
    height:100px;
    width:100px;    
}
.actor_landminesmall .body:hover{
    background-color:rgba(50,50,50,0.2);
    border-radius: 100px;
    height:100px;
    width:100px;    
}
.actor_landminelarge .body:hover{
    background-color:rgba(50,50,50,0.2);
    border-radius: 100px;
    height:100px;
    width:100px;    
}


.discovarable .body{
    background-color: transparent;
    background-image: url('marker_actor0.png'); 
    width: 28px;
    height: 28px;
    margin:auto;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
}

/* name of the ghost is the css representation. Example if the ghost name is ghost1 then we use the css class bellow */
.ghost1 .body{
    background-color: transparent;
    background-image: url('marker_actor1.png'); 
    margin:auto;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
}

.ghost2 .body{
    background-color: transparent;
    background-image: url('marker_actor2.png');
    margin:auto;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
}


.actor_building .body:hover{
    background-color:rgba(50,50,50,0.2);
    border-radius: 0px;
    height:100px;
    width:100px;    
}

.projectile_gunfire{
    /*background-image:url('../media/images/image_heavy_level_01_fire.png');*/
    /*background-color: yellow;*/
    display:none;
    width:200px;
    height:200px;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
    z-index:10; 
    background-repeat: no-repeat;
    background-position: center center;    
}

.cockpit{
    /*background-image:url('../media/images/image_heavy_level_01_weapon.png');*/
    width:200px;
    height:200px;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
    z-index:10; 
    background-repeat: no-repeat;
    background-position: center center;    
}

.actor_explodes{
    height: 128px;
    width: 128px;
    top: -14px;
    left: -14px;
    position:absolute; 
}

.actor_movable{
    height: 128px;
    width: 128px;
    top: -14px;
    left: -14px;
    position:absolute; 
}

/* resource buildings */

.actor_select_resource .body{
    background: url('../media/images/marker_select_resource.png') no-repeat 0px 0px;
    width:100%;
    height:100%;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
    z-index:-1;
    background-repeat: no-repeat;
    background-position: center center;    
}

.actor_select_enemy .body{
    background: url('../media/images/marker_select_enemy.png') no-repeat 0px 0px;
    width:100%;
    height:100%;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
    z-index:-1;
    background-repeat: no-repeat;
    background-position: center center;    
}
.actor_building .body{
    background: url('http://localhost:8000/media/images/image_headquarters_level_01.png') no-repeat 0px 0px;
    width:100%;
    height:100%;
    border-radius: 82px;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
     z-index:-1;
    background-repeat: no-repeat;
    background-position: center center;    
}
.actor_building .body:hover{
    background-color:rgba(50,50,50,0.2);
    border-radius: 0px;
    height:100px;
    width:100px;    
}
/* solds */

.actor_bomb1 .body{
    background-color: rgba(220,0,0,0.2);
    width:100%;
    height:100%;
    border-radius: 100px;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
}

.actor_bomb2 .body{
    background-color: rgba(220,0,0,0.2);
    width:100%;
    height:100%;
    border-radius: 100px;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
}

.actor_bomb3 .body{
    background-color: rgba(220,0,0,0.2);
    width:100%;
    height:100%;
    border-radius: 100px;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
}

.bomb_base {
    width: 128px;
    height: 128px;
    left: -32px;
    position: relative;
    top: -32px;
    z-index: 999;
}
/* soldiers / defenders */

.actor_defend_camp1 .body{
    background-color: rgba(0,220,0,0.2);
    width:100%;
    height:100%;
    border-radius: 100px;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
}
.actor_enemy_camp1 .body{
    background-color: rgba(220,0,0,0.2);
    width:100%;
    height:100%;
    border-radius: 100px;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
}

.bender{
    background-color:red;
    width: 18px;
    height: 11px;
    margin:auto;
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0px; 
    right:0px;
}
.label {
    height: 16px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px 0px 0px 0px;
    padding-bottom: 2px;
}

.map_marker {
    border:0px solid #000;
    border-radius: 100px;
    height:100px;
    width:100px;
}

.map_bender {
    border:1px solid #000;
    background-color:rgba(50,50,50,0.2);
    border-radius: 100px;
    height:100px;
    width:100px;
}
.map_bender:hover{
    background-color:rgba(50,50,50,0.2);
}

.gameplay_countdown{
    display:block;
    position: absolute;
    top:50%;
    left:50%;
    width: 30%;
    height: 100px;
}

@-webkit-keyframes ringpulser
{
    0%
    {
        opacity: 1.0;
        -webkit-transform: scale(0.2);
    }

    80%
    {
        opacity: 0.0;
        -webkit-transform: scale(1.0);
    }

    100%
    {
        opacity: 0.0;
        -webkit-transform: scale(0.2);
    }
}
.player{ /* the player marker */
	position: absolute;
	top: 0px;
	left: 0px;
	border: 8px solid gray;
	-webkit-border-radius: 100px;
	width: 84px;
	height: 84px;
	-webkit-box-shadow: 0 0 5px #f00;
	-webkit-animation-name: ringpulser;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
}